@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    @screen 2xl {
      font-size: 16px;
    }
  }
}

@layer components {
  .title {
    @apply 2xl:text-6xl text-4xl text-blue-dark font-medium xl:mb-6 mb-4;
  }
  .input-border {
    @apply border-2 border-gray-border focus:border-blue-main focus:ring-0 focus:outline-none;
  }
  .footer-link {
    @apply xl:mb-6 mb-4 hover:opacity-50 transition-opacity duration-300;
  }
}

.padding-x-main {
  @apply 3xl:px-14 px-8;
}

.button-main {
  @apply bg-blue-main rounded-full text-white hover:opacity-80 transition-opacity duration-300;
}

.text-label {
  @apply font-medium block uppercase text-blue-dark;
}

.testimonials-card {
  @apply bg-blue-light 2xl:rounded-main rounded-[40px] py-4 2xl:px-9 px-7 h-full flex flex-col;
}

/*** --- swiper --- ***/

.swiper-wrapper {
  @apply mb-[90px];
}

.swiper-pagination-bullet {
  @apply opacity-100 xl:text-2xl text-xl bg-transparent rounded-none mx-5 !important;
}

.swiper-pagination-bullet-active {
  @apply xl:text-4xl text-3xl xl:me-[80px] me-[60px] !important;
}

.swiper-pagination-bullet-active::after {
  content: "___";
  margin: 5px;
}